.btn {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  font-weight: bold;
  outline: none;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: darkblue;
  }
}

.info {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: 20px;
  margin-top: 40px;
  text-align: right;
}
