.container {
  max-width: 700px;
  margin: 0 auto 40px;
  border-bottom: 2px solid darkgray;
}

.wrap {
  margin: 0;
  padding: 20px 10px;
  list-style: none;
}

.wrap a {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 10px;
}

.wrap a:hover,
.wrap a:focus {
  color: blue;
  text-decoration: underline;
}

.wrap li {
  margin-bottom: 5px;
}
