.container {
  max-width: 700px;
  margin: 0 auto 40px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 10px;
  border-bottom: 2px solid darkgray;
  list-style: none;

  a {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  li {
    border-right: 1px solid grey;

    &:last-of-type {
      border-right: none;
    }
  }
}
